* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  background: rgb(2, 0, 36);
  background: linear-gradient(#AD1DEB, #6E72FC);
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 70px;
  font-size: 12px;
  overflow: scroll;
}


.filter_container::-webkit-scrollbar {
  display: none;
}

.filter_container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

label {
  padding: 4px;
  display: block;
}

input,
select {
  width: 100%;
  min-width: 130px;
  height: 30px;
  border: 1px solid gray;
  outline: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0;
}

input:focus {
  border: 1px solid #440a5d;
}

.filter_container>div:not(.filter_btn) {
  width: 200px;
  padding: 8px;
}

.filter_btn {
  padding: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

button {
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 4px 16px;
  font-size: 12px;
  background-color: #440a5d;
  color: white;
  cursor: pointer;
}

.star {
  display: flex;
  width: min-content;
  padding: 3px;
  /* background-color: red; */
  cursor: pointer;
}

/* table, */
td,
th {
  border: 1px solid gray;
  padding: 8px;
  color: black;
}

th {
  height: 50px;
  background-color: #440a5d;
  color: white;
}

th:nth-child(3) {
  min-width: 90px;
}

tr:nth-child(even) {
  background-color: #c7aef8;
}

table {
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

/* 
@media () {
  
} */